* {
  margin:50px;
  padding:50px;
}

#octocat {
  display: block;
  width:38px;
  margin: 54px auto;
}

p {
  display: block;
  width: 40px;
  margin: 501px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
